<div class="col-md-4">
  <h1>Calorie Counter</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          TOTAL: <span id="calorie-total"><%= current_user.calories_eaten_today %></span>
        </th>
      </tr>
    </thead>
    <tbody id="tracker">
      <%= render @entries %>
    </tbody>
  </table>
</div>
<div class="col-md-4">
  <h1>Add a Food</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Add Item
        </th>
        <th>
          Name
          <%= form_tag foods_path, method: 'get', id: 'foods_search' do %>
          <%= text_field_tag :search, params[:search] %>
          <% end %>
        </th>
        <th>
          Calories
        </th>
      </tr>
    </thead>
    <tbody id='foods'>
      <%= render @foods %>
    </tbody>
  </table>
</div>
